// COLORS
$primary-color: #FFD369;
$secondary-color: #222831;

$white-color: #EEEEEE;

$dark-grey: #222831;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
